<!--Page Content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span style="line-height:26px;">รายการสั่งซื้อ</span></div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-danger" style="height:35px;" onclick="parent.location='#/order'">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        ย้อนกลับ
                    </button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h6 class="right" style="margin-top: 15px;">ชื่อลูกค้า : สาธิกรรณ หนูทอง</h6>
                </div>
                <div class="divider-sm"></div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col" width="70px" class="center">ลำดับที่</th>
                            <th scope="col" class="center">รหัสสินค้า</th>
                            <th scope="col" width="400px" class="center">ชื่อสินค้า</th>
                            <th scope="col" class="right">ราคาสินค้า</th>
                            <th scope="col" class="center">จำนวนสินค้า</th>
                            <th scope="col" width="150px" class="right">รวม</th>
                        </tr>
                        <tr>
                            <td class="center">1</td>
                            <td>1001</td>
                            <td>ไบคินแมน</td>
                            <td align="right">600</td>
                            <td class="center">1</td>
                            <td align="right">600</td>
                        </tr>
                        <tr>
                            <td align="right" colspan="5"><b>รวมทั้งหมด</b></td>
                            <td align="right">600</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>