<!--Page Content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="rect-nohover rect-equal-height">
                    <center><h2>แก้ไขข้อมูลสมาชิก</h2></center>
                    <div class="divider-sm"></div>
                    <form class="form-horizontal">
                        <h3>ข้อมูลทั่วไป</h3>
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">ชื่อ</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="ชื่อ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">นามสกุล</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="นามสกุล">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">อีเมลล์</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="อีเมลล์">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">มือถือ</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="มือถือ">
                            </div>
                        </div>
                        <h3>ที่อยู่</h3>
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">ที่อยู่</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="ที่อยู่">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">ตำบล/แขวง</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="ตำบล/แขวง">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">อำเภอ/เขต</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="อำเภอ/เขต">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">จังหวัด</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="จังหวัด">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">รหัสไปรษณีย์</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="รหัสไปรษณีย์">
                            </div>
                        </div>
                        <h3>ชื่อผู้ใช้งานและรหัสผ่าน</h3>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">ชื่อผู้ใช้งาน</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="ชื่อผู้ใช้งาน">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">รหัสผ่านใหม่</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="รหัสผ่านใหม่">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">ยืนยันรหัสผ่านใหม่</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="ยืนยันรหัสผ่านใหม่">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success" style="height:35px;">บันทึก</button>
                                <button type="button" class="btn btn-danger" style="height:35px;" onclick="parent.location=''">ยกเลิก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="divider divider-lg"></div>
        </div>
    </div>
</section>

<!-- //end Page Content --> 