<!-- Subscribe -->
<section class="content container">
    <div class="subscribe">
        <div class="row collapsed-block">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <h3>
                    กรุณากรอก email ของคุณ <a class="expander visible-sm visible-xs"
                                         href="#TabBlock-1">+</a>
                </h3>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 tabBlock" id="TabBlock-1">
                <form class="form-inline" role="form" ng-submit="ForgotPassword()">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                            <input type="email" class="form-control pull-right" id="email" name="email" ng-model="email" placeholder="E-mail">
                            <div class="divider divider-sm visible-xs"></div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button type="submit" class="btn btn-success" style="height:35px;"><span class="icon flaticon-new78"></span>  ตกลง</button>
                            <div class="divider divider-sm visible-xs"></div>
                        </div>
                        <div class="col-sm-5  col-md-5">
                            <label style="font-size:15px;margin-top:10px;">ระบบจะยืนยันรหัสผ่านใหม่ที่ mail ของคุณ</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //end Subscribe --> 