<!-- Slider -->
<section id="slider">
    <div class="tp-banner-container hidden-xs">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li id="slide1" data-transition="zoomout" data-slotamount="7" data-masterspeed="500" data-title="First Slide" data-link="listing.html">
                    <!-- MAIN IMAGE -->
                    <img src="~/Scripts/templates/images/dummy.png" alt="slide1" data-lazyload="../Scripts/templates/images/sliders/slide1.png">
                    <div class="tp-caption lfl fadeout  rs-parallaxlevel-2"
                         data-x="200"
                         data-y="0"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 4;"><img src="~/Scripts/templates/images/sliders/case-mobile7.png" alt=""></div>
                    <div class="tp-caption text0 fadeout"
                         data-x="1050"
                         data-y="140"
                         data-speed="800"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&#8220;</div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text1 fadeout"
                         data-x="1080"
                         data-y="150"
                         data-speed="800"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        Clothes make<br>
                        the man.
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text2 fadeout"
                         data-x="1080"
                         data-y="255"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power3.easeInOut"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        Naked people have
                        little<br>
                        or no influenceon society.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //end Slider -->
<!--Gallery-->
<section class="content">
    <div class="subtitle">
        <div><span>FEATURED PRODUCTS</span></div>
    </div>
    <!-- Filtered Products -->
    <section class="filters-by-category clearfix">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <ul class="option-set" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*" class="">all</a></li>
                        <li><a href="#filter" data-option-value=".category1" class="">SHOES</a></li>
                        <li><a href="#filter" data-option-value=".category2" class="">SUNGLASSES</a></li>
                        <li><a href="#filter" data-option-value=".category3" class="">Women Clothes</a></li>
                        <li><a href="#filter" data-option-value=".category4" class="">men SUITS</a></li>
                        <li><a href="#filter" data-option-value=".category5" class="">ACCESSORIES</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Filters -->
    <div class="products-nospace-outer gallery">
        <div class="products-nospace products-isotope">
            <div class="product-preview category5">
                <img src="~/Scripts/templates/images/products/product1.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#/product" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category1">
                <img src="~/Scripts/templates/images/products/product2.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category5">
                <img src="~/Scripts/templates/images/products/product3.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category2">
                <img src="~/Scripts/templates/images/products/product4.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category3">
                <img src="~/Scripts/templates/images/products/product5.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview double-width category3">
                <img src="~/Scripts/templates/images/products/product11.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category3">
                <img src="~/Scripts/templates/images/products/product8.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category4">
                <img src="~/Scripts/templates/images/products/product9.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category5">
                <img src="~/Scripts/templates/images/products/product10.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category2">
                <img src="~/Scripts/templates/images/products/product13.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview double-width category4">
                <img src="~/Scripts/templates/images/products/product12.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category4">
                <img src="~/Scripts/templates/images/products/product14.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category6">
                <img src="~/Scripts/templates/images/products/product16.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-preview category1">
                <img src="~/Scripts/templates/images/products/product15.jpg" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title">
                            <a href="product.html">
                                Long Product name
                                Example
                            </a>
                        </h3>
                        <span class="price new">$214.99</span> <span class="price old">$214.99</span>
                        <div class="rating">
                            <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                        </div>
                        <ul class="product-controls-list">
                            <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                            <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //end Gallery-->