<!--Page Content-->
<section class="content" ng-init="GetListMember()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span style="line-height:26px;">ข้อมูลสมาชิก</span></div>
                </div>
                <div class="scrollbar">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col" width="80px" class="center">ลำดับที่</th>
                            <th scope="col" class="center">ชื่อ-นามสกุล</th>
                            <th scope="col" class="center">อีเมลล์</th>
                            <th scope="col" class="center">มือถือ</th>
                            <th scope="col" class="center">ที่อยู่</th>
                            <th ng-show="permission == 1" scope="col" width="80px" class="center">แก้ไข</th>
                            <th ng-show="permission == 1" scope="col" width="80px" class="center">ลบ</th>
                        </tr>
                        <tr ng-repeat="ListMembers in ListMember">
                            <td class="center">{{$index + 1}}</td>
                            <td>{{ListMembers.FirstName}} {{ListMembers.LastName}}</td>
                            <td>{{ListMembers.Email}}</td>
                            <td>{{ListMembers.Mobile}}</td>
                            <td>{{ListMembers.Address}} ตำบล/แขวง{{ListMembers.District}} อำเภอ/เขต{{ListMembers.City}} จังหวัด{{ListMembers.ProvinceName}} {{ListMembers.Zipcode}}</td>
                            <td ng-show="permission == 1" class="center"><button type="button" class="btn btn-warning btn-xs" ng-click="PageEditMember(ListMembers.MemberID)"><span class="icon flaticon-pencil43"></span></button></td>
                            <td ng-show="permission == 1" class="center"><button type="button" class="btn btn-danger btn-xs" ng-click="DeleteMember(ListMembers.MemberID)"><span class="icon flaticon-recycle59"></span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .scrollbar {
        float: left;
        height: 450px;
        width: 100%;
        background: #ffffff;
        /*overflow: scroll;*/
        overflow-x: hidden;
        overflow-y: visible;
        margin-bottom: 25px;
    }
</style>