<!--Page Content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span style="line-height:26px;">รายการสั่งซื้อ</span></div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" width="80px" class="center">ลำดับที่</th>
                        <th scope="col" class="center">ชื่อลูกค้า</th>
                        <th scope="col" class="center">เบอร์โทรลูกค้า</th>
                        <th scope="col" width="500px" class="center">ที่อยู่ลูกค้า</th>
                        <th scope="col" width="150px" class="center">รายละเอียดการสั่งซื้อ</th>
                    </tr>
                    <tr>
                        <td class="center">1</td>
                        <td>สาธิกรรณ หนูทอง</td>
                        <td>999-999-9999</td>
                        <td>65 ม.5 ต.โมคลาน อ.ท่าศาลา จ.นครศรีธรรมราช 80160</td>
                        <td class="center"><button type="button" class="btn btn-primary btn-xs" onclick="parent.location='#/detailorder'"><span class="icon flaticon-shopping2"></span></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>