<!--Page Content-->
<section class="content" ng-init="GetOrderFromMember()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span style="line-height:26px;">รายการสั่งซื้อ</span></div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" width="80px" class="center">ลำดับที่</th>
                        <th scope="col" class="center">ชื่อลูกค้า</th>
                        <th scope="col" class="center">เบอร์โทรลูกค้า</th>
                        <th scope="col" width="500px" class="center">ที่อยู่ลูกค้า</th>
                        <th scope="col" width="150px" class="center">รายละเอียดการสั่งซื้อ</th>
                    </tr>
                    <tr ng-repeat="OrderFromMembers in OrderFromMember">
                        <td class="center">{{$index + 1}}</td>
                        <td>{{OrderFromMembers.FullName}}</td>
                        <td>{{OrderFromMembers.Mobile}}</td>
                        <td>{{OrderFromMembers.Address}} ตำบล/แขวง{{OrderFromMembers.District}} อำเภอ/เขต{{OrderFromMembers.City}} จังหวัด{{OrderFromMembers.ProvinceName}} {{OrderFromMembers.ZipCode}}</td>
                        <td class="center"><button type="button" class="btn btn-primary btn-xs" onclick="parent.location='#/detailorder'"><span class="icon flaticon-shopping2"></span></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>