<!--Page Content-->
<section class="content" ng-init="GetListOrder()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span style="line-height:26px;">รายการสั่งซื้อ</span></div>
                </div>
                <h6 class="right" style="margin-top: 15px;"><strong>สถานะ :</strong> {{StatusOrder}}</h6>
                <div class="divider-sm"></div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" width="70px" class="center">ลำดับที่</th>
                        <th scope="col" class="center">รหัสสินค้า</th>
                        <th scope="col" width="400px" class="center">ชื่อสินค้า</th>
                        <th scope="col" class="center">จำนวนสินค้า</th>
                        <th scope="col" class="right">ราคาสินค้า</th>
                        <th scope="col" width="150px" class="right">รวม</th>
                        <th scope="col" width="80px" class="center">ลบ</th>
                    </tr>
                    <tr ng-repeat="ListOrders in ListOrder">
                        <td class="center">{{$index + 1}}</td>
                        <td>{{ListOrders.ProductCode}}</td>
                        <td>{{ListOrders.ProductName}}</td>
                        <td class="center">
                            {{ListOrders.Amount}}
                            @*<button type="button" class="btn btn-danger btn-xs">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" value="1" style="text-align:center;width:50px">
                                <button type="button" class="btn btn-success btn-xs">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>*@
                        </td>
                        <td align="right">{{ListOrders.ProductPrice}}</td>
                        <td align="right">{{ListOrders.Amount * ListOrders.ProductPrice}}</td>
                        <td class="center"><button type="button" class="btn btn-danger btn-xs" ng-click="DeleteOrder(ListOrders.OrderID, ListOrders.ProductID, ListOrders.Amount)"><span class="icon flaticon-recycle59"></span></button></td>
                    </tr>
                    <tr>
                        <td align="right" colspan="5"><b>รวมทั้งหมด</b></td>
                        <td align="right">{{ getTotal() }}</td>
                        <td align="left"><b>บาท</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>