<!-- Breadcrumbs-->
<section class="breadcrumbs">
    <div class="container"><a href="index.html">home</a><span class="divider">&nbsp;</span><a href="#">women</a><span class="divider">&nbsp;</span>Hilfiger Denim Martina Bomber Jacket</div>
</section>
<!-- //end Breadcrumbs --><!-- Product view -->
<div class="container">
    <div class="product-view row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <center><img src="~/Scripts/templates/images/products/product31.jpg" height="450" width="380" alt="" /></center>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-6 col-md-6 col-lg-6"><br />
            <h2><strong>สตาวอ tpu 4/4s</strong></h2>
            @*<span class="price">ราคา : 110 บาท</span>*@
            <h3><strong>ราคา :</strong> 110 บาท</h3>
            <p><span><strong>รหัสสินค้า : </strong></span> <span>084s133</span></p>
            <p><span><strong>ใช้งานกับรุ่น : </strong></span> <span>iphone 4/4s</span></p>
            <p><span><strong>จำนวนคงเหลือ : </strong></span> <span>0 ชิ้น</span></p>
            <div class="divider divider-sm"></div>
            <div class="line-divider"></div>
            <div class="divider divider-md"></div>
            <form action="#">
                <div class="form-inputs">
                    <label>Qty:</label>
                    <input type="text" class="form-control input-quantity" value="1">
                    <button class="btn btn-cool btn-lg" type="submit"><i class="icon flaticon-shopping66"></i>ADD TO CART</button>
                </div>
            </form>
        </div>
    </div>
</div>