<!--Page Content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span>ข้อมูลสินค้า</span></div>
                </div>
                <button type="button" class="btn btn-primary pull-right" onclick="parent.location='#/addproduct'">
                    <span class="icon flaticon-write13"></span>
                    เพิ่มสินค้า
                </button>
                <div class="divider divider-sm"></div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" width="80px" class="center">ลำดับที่</th>
                        <th scope="col" class="center">รหัสสินค้า</th>
                        <th scope="col" width="500px" class="center">ชื่อสินค้า</th>
                        <th scope="col" class="center">จำนวนสินค้า</th>
                        <th scope="col" class="center">ราคาสินค้า</th>
                        <th scope="col" width="80px" class="center">แก้ไข</th>
                        <th scope="col" width="80px" class="center">ลบ</th>
                    </tr>
                    <tr>
                        <td class="center">1</td>
                        <td>1001</td>
                        <td>ไบคินแมน</td>
                        <td class="center">3</td>
                        <td class="center">50</td>
                        <td class="center"><button type="button" class="btn btn-warning btn-xs" onclick="parent.location='#/editproduct'"><span class="icon flaticon-pencil43"></span></button></td>
                        <td class="center"><button type="button" class="btn btn-danger btn-xs"><span class="icon flaticon-recycle59"></span></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>