<!--Page Content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span>ข้อมูลประเภทสินค้า</span></div>
                </div>
                <button type="button" class="btn btn-primary pull-right" onclick="parent.location='#/addproductgroup'">
                    <span class="icon flaticon-write13"></span>
                    เพิ่มประเภทสินค้า
                </button>
                <div class="divider divider-sm"></div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" width="80px" class="center">ลำดับที่</th>
                        <th scope="col" width="150px" class="center">รหัสกลุ่มสินค้า</th>
                        <th scope="col" class="center">ชื่อกลุ่มสินค้า</th>
                        <th scope="col" width="80px" class="center">แก้ไข</th>
                        <th scope="col" width="80px" class="center">ลบ</th>
                    </tr>
                    <tr>
                        <td class="center">1</td>
                        <td>1001</td>
                        <td>iPhone 4/4s</td>
                        <td class="center"><button type="button" class="btn btn-warning btn-xs" onclick="parent.location='#/editproductgroup'"><span class="icon flaticon-pencil43"></span></button></td>
                        <td class="center"><button type="button" class="btn btn-danger btn-xs"><span class="icon flaticon-recycle59"></span></button></td>
                    </tr>
                    <tr>
                        <td class="center">2</td>
                        <td>1002</td>
                        <td>iPhone 5/5s</td>
                        <td class="center"><button type="button" class="btn btn-warning btn-xs" onclick="parent.location='#/editproductgroup'"><span class="icon flaticon-pencil43"></span></button></td>
                        <td class="center"><button type="button" class="btn btn-danger btn-xs"><span class="icon flaticon-recycle59"></span></button></td>
                    </tr>
                    <tr>
                        <td class="center">3</td>
                        <td>1003</td>
                        <td>iPhone 6/6s</td>
                        <td class="center"><button type="button" class="btn btn-warning btn-xs" onclick="parent.location='#/editproductgroup'"><span class="icon flaticon-pencil43"></span></button></td>
                        <td class="center"><button type="button" class="btn btn-danger btn-xs"><span class="icon flaticon-recycle59"></span></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>