<!--Page Content-->
<section class="content" ng-init="GetProduct()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="subtitle">
                    <div><span>ข้อมูลสินค้า</span></div>
                </div>
                <input type="text" class="form-control pull-left" style="width:250px;" ng-model="search" placeholder="ค้นหา...">
                <button type="button" class="btn btn-primary pull-right" onclick="parent.location='#/addproduct'">
                    <span class="icon flaticon-write13"></span>
                    เพิ่มสินค้า
                </button>
                <div class="divider divider-sm"></div>
                <div class="scrollbar">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col" width="80px" class="center">ลำดับที่</th>
                            <th scope="col" class="center">รหัสสินค้า</th>
                            <th scope="col" class="center">ประเภทสินค้า</th>
                            <th scope="col" width="400px" class="center">ชื่อสินค้า</th>
                            <th scope="col" class="center">จำนวนสินค้า</th>
                            <th scope="col" class="center">ราคาสินค้า</th>
                            <th scope="col" width="80px" class="center">แก้ไข</th>
                            <th scope="col" width="80px" class="center">ลบ</th>
                        </tr>
                        <tr ng-repeat="Products in Product | filter : search || undefined && search:true">
                            <td class="center">{{$index + 1}}</td>
                            <td>{{Products.ProductCode}}</td>
                            <td>{{Products.ProductGroupName}}</td>
                            <td>{{Products.ProductName}}</td>
                            <td class="center">{{Products.ProductQuantity}}</td>
                            <td class="center">{{Products.ProductPrice}}</td>
                            <td class="center"><button type="button" class="btn btn-warning btn-xs" ng-click="PageEditProduct(Products.ProductID)"><span class="icon flaticon-pencil43"></span></button></td>
                            <td class="center"><button type="button" class="btn btn-danger btn-xs" ng-click="DeleteProduct(Products.ProductID)"><span class="icon flaticon-recycle59"></span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .scrollbar {
        float: left;
        height: 450px;
        width: 100%;
        background: #ffffff;
        /*overflow: scroll;*/
        overflow-x: hidden;
        overflow-y: visible;
        margin-bottom: 25px;
    }
</style>