<!DOCTYPE html>
<html lang="en" ng-app="mobilecase">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Coolbaby template</title>
    <link rel="shortcut icon" type="image/png" href="~/Scripts/templates/images/iphone.png">
    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/templates/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS modules -->
    <link href="~/Scripts/templates/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/component/thbank-font/css/thbanklogos.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/templates/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/Scripts/templates/css/slick.css" />
    <link rel="stylesheet" href="~/Scripts/templates/css/liMarquee.css">
    <link rel="stylesheet" href="~/Scripts/templates/css/colorbox.css">
    <link rel="stylesheet" href="~/Scripts/templates/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Scripts/templates/css/jquery.nouislider.css">
    <!-- Custom styles for this template -->
    <link href="~/Scripts/templates/css/coolbaby.css" rel="stylesheet">
    <link href="~/Scripts/component/sweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/templates/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/templates/rs-plugin/css/extralayers.css" media="screen" />
</head>
<body class="responsive" ng-controller="MainController">
    <div class="loader">
        <div class="fond">
            <div class="contener_general">
                <div class="contener_mixte">
                    <div class="ballcolor ball_1">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_2">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_3">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_4">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div id="outer">
        <div id="outer-canvas">
            <!-- Navbar -->
            <header>
                <!-- //end Search -->
                <div id="newsLine">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 hidden-xs">
                                @*<div class="title upper"><i class="icon flaticon-news"></i>ข่าวสาร</div>*@
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-xs-push-1 col-sm-push-0">
                                <div id="newsCarousel" class="slick-style1">
                                    <div class="item upper">
                                        <div class="marquee">
                                            <span class="date" ng-bind="newdate"></span> CASE IPHONE CHEAP <strong>ยินดีต้อนรับ</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 top-link pull-right" ng-show="$root.permission == 1 || $root.permission == 3">
                                @*<div class="btn-outer btn-shopping-cart">
                                    <a href="#drop-shopcart" class="btn btn-xs btn-default open-cart"
                                       data-toggle="dropdown">
                                        <span class="icon icon-md flaticon-shopping66"></span><span class="badge">3</span>
                                    </a>
                                    <div class="hidden">
                                        <div id="drop-shopcart" class="shoppingcart-box">
                                            <div class="title">รายการการสั่งซื้อ</div>
                                            <div class=" hidden" id="liTemplate">
                                                <div class="item  animate-delay fadeInRight">
                                                    <div class="image"></div>
                                                    <div class="description"> <span class="product-name"></span><strong class="price"></strong></div>
                                                    <div class="buttons">
                                                        <a href="#" class="icon icon-sm flaticon-write13"></a> <a href="#" class="icon icon-sm flaticon-recycle59 remove-from-cart"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list  animate-delay-outer">
                                                <div class="item  animate-delay fadeInRight">
                                                    <div class="image">
                                                        <a href="product.html" class="preview-image">
                                                            <img src="~/Scripts/templates/images/products/product-03.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="description">
                                                        <a href="#">Mauris et ligula quis</a> <strong class="price">1 x $44.95</strong>
                                                    </div>
                                                    <div class="buttons">
                                                        <a href="#" class="icon icon-sm flaticon-write13"></a> <a href="#" class="icon icon-sm flaticon-recycle59 remove-from-cart"></a>
                                                    </div>
                                                </div>
                                                <div class="item animate-delay fadeInRight">
                                                    <div class="image">
                                                        <a href="product.html" class="preview-image">
                                                            <img src="~/Scripts/templates/images/products/product-05.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="description">
                                                        <a href="#">Mauris et ligula quis</a> <strong class="price">1 x $44.95</strong>
                                                    </div>
                                                    <div class="buttons">
                                                        <a href="#" class="icon icon-sm flaticon-write13"></a> <a href="#" class="icon icon-sm flaticon-recycle59 remove-from-cart"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="total">Total: <strong>$44.95</strong></div>
                                            <div class="empty">Shopping cart is empty</div>
                                            <a href="checkout.html" class="btn btn-cool">Proceed to Checkout</a>
                                            <div class="view-link"><a href="shopping-cart.html">View shopping cart </a></div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Back to top -->
                <div class="back-to-top">
                    <span class="arrow-up"><img src="~/Scripts/templates/images/icon-scroll-arrow.png" alt=""></span><img src="~/Scripts/templates/images/icon-scroll-mouse.png" alt="">
                </div>
                <!-- //end Back to top -->

                <section class="navbar">
                    <div class="background">
                        <div class="container">
                            <div class="row">
                                <div class="header-left col-sm-5 col-md-8">
                                    <div class="row">
                                        <div class="navbar-welcome col-md-6 compact-hidden hidden-sm hidden-xs"></div>
                                        <!-- Mobile menu Button-->
                                        <div class="col-xs-2 visible-xs">
                                            <div class="expand-nav  compact-hidden">
                                                <a href="#off-canvas-menu" id="off-canvas-menu-toggle">
                                                    <span class="icon icon-xl flaticon-menu29"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- //end Mobile menu Button --> <!-- Logo -->

                                        <div class="navbar-logo col-xs-10 col-sm-10 col-md-6 text-center">
                                            <h1 style="margin-top: 15px;">CASEIPHONE CHEAP</h1>
                                        </div>
                                        <!-- //end Logo -->
                                        <div class="clearfix visible-xs"></div>
                                        <!-- Secondary menu -->
                                        @*<div class="top-link pull-right compact-visible">
                                            <div class="btn-outer btn-shopping-cart" ng-show="permission == 1 || permission == 3">
                                                <a href="#drop-shopcart" class="btn btn-xs btn-default open-cart"
                                                   data-toggle="dropdown">
                                                    <span class="icon icon-md flaticon-shopping66"></span><span class="badge">2</span>
                                                </a>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="navbar-secondary-menu col-sm-7 col-md-4 compact-hidden">
                                    <div class="btn-group" ng-hide="permission == 1 || permission == 2 || permission == 3">
                                        <a href="#/login" class="btn btn-default">
                                            <h6 style="margin-top: 4px;" class="underline">เข้าสู่ระบบ</h6>
                                        </a>
                                        <a href="#/register" class="btn btn-default">
                                            <h6 style="margin-top: 4px;" class="underline">สมัครสมาชิก</h6>
                                        </a>
                                    </div>
                                    <div class="btn-group" ng-show="permission == 1 || permission == 2 || permission == 3">
                                        <a href="#" class="btn btn-default dropdown-toggle"
                                           data-toggle="dropdown">
                                            <h6 style="margin-top: 4px;" class="underline">ยินดีต้อนรับ {{firstname}} {{lastname}}</h6>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" onclick="parent.location='#/editprofile'">แก้ไขข้อมูลส่วนตัว</a></li>
                                            <li><a href="" onclick="parent.location='#/editpassword'">แก้ไขรหัสผ่าน</a></li>
                                            @*<li ng-show="permission == 1 || permission == 3"><a href="#/orderlist">รายการสั่งซื้อของฉัน</a></li>*@
                                            <li class="divider"></li>
                                            <li><a href="" ng-click="logout()">ออกจากระบบ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Main menu -->
                        <div class="navbar-main-menu-outer hidden-xs">
                            <div class="container">
                                <dl class="navbar-main-menu">
                                    <dt class="item"><a href="#/" class="btn-main"><span class="icon icon-xl flaticon-home113">หน้าหลัก</span></a></dt>
                                    <dd></dd>
                                    <dt class="item" ng-show="permission == 1 || permission == 3"> <a href="#/orderlist" class="btn-main">รายการสั่งซื้อ</a> </dt>
                                    <dd></dd>
                                    <dt class="item" ng-show="permission == 1 || permission == 2"> <a href="" class="btn-main">ข้อมูลสินค้า</a> </dt>
                                    <dd class="item-content content-small">
                                        <div class="megamenuClose"></div>
                                        <ul class="row-list">
                                            <li><a href="#/productgroup">ข้อมูลประเภทสินค้า</a></li>
                                            <li><a href="#/product">ข้อมูลสินค้า</a></li>
                                        </ul>
                                    </dd>
                                    <dt class="item" ng-show="permission == 1 || permission == 2"> <a href="#/order" class="btn-main">ข้อมูลการสั่งซื้อ</a> </dt>
                                    <dd></dd>
                                    <dt class="item" ng-show="permission == 1 || permission == 2"> <a href="#/member" class="btn-main">ข้อมูลสมาชิก</a> </dt>
                                    <dd></dd>
                                    <dt class="item"> <a href="#/contact" class="btn-main">รายละเอียดการชำระเงิน</a> </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //end Main menu -->
                    </div>
                </section>

                <!-- Navbar height -->
                <div class="navbar-height"></div>
                <!-- Navbar height -->

            </header>
            <!-- //end Navbar -->

            <ui-view autoscroll="false"></ui-view>

            <!-- Footer -->
            <footer style="padding-top: 0px;">
                <div id="footer-collapsed">
                    <div class="footer-navbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 copyright">© 2014 <a href="#">Coolbaby</a>. All Rights Reserved.</div>
                                <div class="col-md-4">
                                    <ul class="payment-list pull-right">
                                        <li><img src="~/Scripts/templates/images/icon-payment-01.png" width="36" height="22" alt=""></li>
                                        <li><img src="~/Scripts/templates/images/icon-payment-02.png" width="36" height="22" alt=""></li>
                                        <li><img src="~/Scripts/templates/images/icon-payment-03.png" width="36" height="22" alt=""></li>
                                        <li><img src="~/Scripts/templates/images/icon-payment-04.png" width="36" height="22" alt=""></li>
                                        <li><img src="~/Scripts/templates/images/icon-payment-05.png" width="36" height="22" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div id="outer-overlay"></div>
            <!-- //end Footer -->
        </div>
    </div>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    <script src="~/Scripts/templates/js/prototype.js"></script>
    <script src="~/Scripts/templates/js/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@

    <script src="~/Scripts/angular-lib/angular.min.js"></script>
    <script src="~/Scripts/angular-lib/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-lib/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-lib/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-lib/angular-resource.min.js"></script>
    <script src="~/Scripts/component/ui-route/ui-router.min.js"></script>
    <script src="~/Scripts/component/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/component/ng-file-upload/ng-file-upload.min.js"></script>

    <script src="~/Scripts/templates/js/modernizr.custom.02163.js"></script>
    <script src="~/Scripts/templates/js/jquery.finger.min.js"></script>
    <script src="~/Scripts/templates/js/bootstrap.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.easing.1.3.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.nouislider.all.min.js"></script>
    <script src="~/Scripts/templates/js/slick.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.parallax.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.inview.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.liMarquee.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/templates/js/jquery.isotope.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.plugin.min.js"></script>
    <script src="~/Scripts/templates/js/jquery.countdown.min.js"></script>
    <script src="~/Scripts/templates/js/coolbaby.js"></script>
    <script src="~/Scripts/component/sha1/sha1.js"></script>
    <script src="~/Scripts/component/sweetAlert/sweetalert2.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>*@
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="~/Scripts/templates/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/Scripts/templates/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Scripts/templates/rs-plugin/js/jquery.themepunch.ini.js"></script>

    <script src="~/Scripts/src/app.js"></script>
    <script src="~/Scripts/src/src/main.js"></script>
    <script src="~/Scripts/src/src/login.js"></script>
    <script src="~/Scripts/src/src/member.js"></script>
    <script src="~/Scripts/src/src/order.js"></script>
    <script src="~/Scripts/src/src/productgroup.js"></script>
    <script src="~/Scripts/src/src/product.js"></script>
    <script src="~/Scripts/src/src/register.js"></script>
    <script src="~/Scripts/src/src/contact.js"></script>
</body>
</html>
